{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
{% endblock %}
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Publication Date</th>
            <th>User</th>
            <th>Description</th>
            <th>State</th>
            <th></th>
            <th></th>
        </tr>
        {% for advert in adverts %}
            <tr>
                <th>{{ advert.title }}</th>
                <th>{{ advert.publicationDate|date("m/d/Y") }}</th>
                <th>{{ advert.user }}</th>
                <th>{{ advert.description }}</th>
                <th>{{ advert.state }}</th>
                <th><a type="button" class="btn btn-primary" role="button" href="/edit">Edit</a></th>
                <th><a type="button" class="btn btn-danger" role="button" href="/admin/remove/{{ advert.id }}">Remove</a></th>
            </tr>
        {% else %}
            No adverts have been found.
        {% endfor %}

    </table>