{% include 'AdvertSiteBundle:Default:index.html.twig' %}

{% block body %}
<div class="container-fluid">
    {% for advert in adverts %}
        {#Advert not commented#}
        {% set advertCommented = 0 %}
        <div class=" col-md-offset-2 col-md-8 ">
            <div>
                <h3>{{ advert.title }}</h3>
                <div>Le {{ advert.publicationDate|date("m/d/Y") }} par {{ advert.user }}</div>
            </div>
            <div>{{ advert.description }}</div>
            {% set commentUser ='' %}
            {% set firstCommentUser = '' %}
            {% for comment in comments %}

                {% if comment.advertId == advert.id %}

                    {% if firstCommentUser == '' %}
                        {% set firstCommentUser = comment.user %}
                    {% endif %}

                    {% set advertCommented = 1 %}

                    <div>
                        <div class="col-md-8">
                            Commentaire laissé par {{ comment.user }} : {{ comment.content }}
                        </div>
                        <div class="col-md-4">
                            {% if not comment.isNoted and logged_user != "" and logged_user == advert.user and advert.user != comment.user %}
                                {% set note = notes.createView() %}
                                {{ form_start(note) }}
                                {{ form_row(note.note) }}
                                {{ form_row(note.advertAuthor , {'value' : comment.user }) }}
                                {{ form_row(note.commentId , {'value' : comment.id }) }}
                                {{ form_end(note) }}
                            {% endif %}

                            {% if not comment.isNoted and logged_user != "" and logged_user == firstCommentUser and logged_user != advert.user and comment.user != logged_user %}
                                {% set note = notes.createView() %}
                                {{ form_start(note) }}
                                {{ form_row(note.note) }}
                                {{ form_row(note.advertAuthor , {'value' : advert.user }) }}
                                {{ form_row(note.commentId , {'value' : comment.id }) }}
                                {{ form_end(note) }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {% set commentUser = comment.user %}

            {% endfor %}
             <div class="col-md-8">
                    {% if advert.user != logged_user and logged_user != "" and advertCommented == 0%}

                        {% set form = formm.createView() %}
                        {{ form_start(form) }}
                        {{ form_row(form.content) }}
                        {{ form_row(form.advert_id , {'value' : advert.id }) }}
                        {{ form_end(form) }}

                    {% endif %}

                    {% if (advertCommented == 1 and logged_user == advert.user) or (firstCommentUser == logged_user) and logged_user != '' %}
                        {% set form = formm.createView() %}
                        {{ form_start(form) }}
                        {{ form_row(form.content) }}
                        {{ form_row(form.advert_id , {'value' : advert.id }) }}
                        {{ form_end(form) }}
                    {% endif %}
            </div>
        </div>
    {% else %}
        No adverts have been found. Sign In or set to published your advert.
    {% endfor %}
</div>
{% endblock %}
