{% include 'AdvertSiteBundle:Default:index.html.twig' %}

{% block body %}
<div class="container-fluid">
    {% for advert in adverts %}
        {#Advert not commented#}
        {% set advertCommented = 0 %}
        <div class=" col-md-offset-3 col-md-6 ">
            <div>
                <h3>{{ advert.title }}</h3>
                <div>Le {{ advert.publicationDate|date("m/d/Y") }} par {{ advert.user }}</div>
            </div>
                <div>{{ advert.description }}</div>
                {% for comment in comments %}
                    {% if comment.advertId == advert.id %}
                        {% set advertCommented = 1 %}
                       Commentaire laissé par {{ comment.user }} : {{ comment.content }}
                    {% endif %}
                {% endfor %}

                {% if advertCommented == 1 and advert.user != logged_user and logged_user != "" %}
                    {% set note = notes.createView() %}
                    {{ form_start(note) }}
                    {{ form_row(note.note) }}
                    {{ form_row(note.advertAuthor , {'value' : advert.user }) }}
                    {{ form_end(note) }}
                    {#State for an advert commented and author noted#}
                    {% set advertCommented = 2 %}
                {% endif %}

            <div>
                {% if advert.user != logged_user and logged_user != "" and advertCommented == 0 %}

                    {% set form = formm.createView() %}
                        {{ form_start(form) }}
                        {{ form_row(form.content) }}
                        {{ form_row(form.advert_id , {'value' : advert.id }) }}
                        {{ form_end(form) }}

                {% endif %}

            </div>
        </div>
    {% else %}
        No adverts have been found. Sign In or set to published your advert.
    {% endfor %}
</div>
{% endblock %}
