{% include 'AdvertSiteBundle:Default:index.html.twig' %}

{% block body %}
<div class="container-fluid">
    {% for advert in adverts %}
        {% set advertCommented = 0 %}
        <div class=" col-md-offset-3 col-md-6 ">
            <div>
                <h3>{{ advert.title }}</h3>
                <div>Le {{ advert.publicationDate|date("m/d/Y") }} par {{ advert.user }}</div>
            </div>
                <div>{{ advert.description }}</div>
                {% for comment in comments %}
                    {% if comment.advertId == advert.id %}
                        {% set advertCommented = 1 %}
                       Commentaire laissé par {{ logged_user }} : {{ comment.content }}
                    {% endif %}
                {% endfor %}
            <div>
                {% if advert.user != logged_user and logged_user != "" and advertCommented == 0 %}

                    {% set form = formm.createView() %}
                        {{ form_start(form) }}
                        {{ form_row(form.content) }}
                        {{ form_row(form.advert_id , {'value' : advert.id }) }}
                        {{ form_end(form) }}

                {% endif %}
            </div>
        </div>
    {% else %}
        No adverts have been found.
    {% endfor %}
</div>
{% endblock %}
